node_modules
*.log*
*.env*
.git*
logs/
*.md
.prettier*
eslint.config.mjs
jsconfig.json
astro/
.devcontainer/
.husky/
.prettierrc.json
CHANGELOG.md
LICENSE
Procfile
release.config.js
TODO.md
MIGRATION.md
docker-compose*.yml
Dockerfile
.dockerignore
lavalink/
scripts/
*.pem
api/
!api/package.json
tests/