# Dependencies
node_modules/

# Build outputs
dist/

# Logs
logs/
*.log

# Package manager files
*ignore*

# IDE
.vscode/
.idea/

# Git
.git/

# Specific data files to exclude
types/*

CHANGELOG.md

tests/